<!DOCTYPE html>
<html>
<head>
  <title>Trellino</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Trellino</a>
      </div>
      
      <ul class="nav navbar-left">
        <li class="active">
          <a href="#"><span class="glyphicon glyphicon-th"></span> Boards</a>
        </li>
      </ul>
      
      <ul class="nav navbar-right">
        <li>
          <% if logged_in? %>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <%= current_user.email %>
                <span class="caret"></span>
              </button>
              <li class="divider"></li>
              <ul class="dropdown-menu">
                <li><%=link_to "Sign Out", session_url, :method => :delete %></li>
              </ul>
            </div>
          </div>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
